RewriteEngine On

# Laisse passer les vrais fichiers/dossiers existants
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Toutes les URLs propres React reviennent vers index.html
RewriteRule ^ index.html [L]
